<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039254444135-dvl01hddhbt5536dum5ga1433qimbdff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039254444135-dvl01hddhbt5536dum5ga1433qimbdff</string>
	<key>API_KEY</key>
	<string>AIzaSyBsM-UgUzwO0z5LrTc9o2-zmteMWstpe0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1039254444135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.NexSeedChat</string>
	<key>PROJECT_ID</key>
	<string>nexseedchat-3176a</string>
	<key>STORAGE_BUCKET</key>
	<string>nexseedchat-3176a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039254444135:ios:35e5736a0e9178b9</string>
	<key>DATABASE_URL</key>
	<string>https://nexseedchat-3176a.firebaseio.com</string>
</dict>
</plist>